/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  //   --clr-primary-1: hsl(184, 91%, 17%);
  //   --clr-primary-2: hsl(185, 84%, 25%);
  //   --clr-primary-3: hsl(185, 81%, 29%);
  //   --clr-primary-4: hsl(184, 77%, 34%);
  //   /* primary/main color */
  //   --clr-primary-5: hsl(185, 62%, 45%);
  //   /* lighter shades of primary color */
  //   --clr-primary-6: hsl(185, 57%, 50%);
  //   --clr-primary-7: hsl(184, 65%, 59%);
  //   --clr-primary-8: hsl(184, 80%, 74%);
  //   --clr-primary-9: hsl(185, 94%, 87%);
  //   --clr-primary-10: hsl(186, 100%, 94%);
  //   /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: #000;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
/* img {
  width: 100%;
  display: block;
} */
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
/* section */
.section {
  padding: 5rem 0;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
=============== 
Hero
===============
*/

/*
=============== 
Contact
===============
*/
.contact {
  background: var(--clr-primary-5);
}
.contact-title {
  color: var(--clr-white);
}
.contact-title p {
  color: var(--clr-primary-8);
}
.contact-form {
  display: flex;
  align-self: flex-start;
  max-width: 28rem;
}
.form-control {
  flex: 1 1 auto;
  color: var(--clr-grey-5);
}
.form-control,
.btn-submit {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: var(--spacing);
  background: var(--clr-white);
  text-transform: capitalize;
  outline: none;
  border: transparent;
}
::placeholder {
  color: inherit;
}
.btn-submit {
  font-family: var(--ff-primary);
  margin-left: 0.5rem;
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
  cursor: pointer;
  transition: var(--transition);
}
.btn-submit:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
  .contact-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact-form {
    flex: 1 1 auto;
    padding-left: 2rem;
    max-width: 100%;
  }
}

/*
=============== 
Footer
===============
*/
.footer {
  background: #f1a307;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  color: #000;
}
.footer-link {
  color: #000;
  text-transform: capitalize;
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.footer-link:hover {
  color: var(--clr-primary-5);
}
.footer-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.733);
  transition: var(--transition);
}
.footer-icon:hover {
  color: #fac252;
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: #000;
}

//loading
.loading {
  min-height: 100vh;
  width: 100%;
  background-color: #f1a307;
  z-index: 1000000000000;
  position: fixed;
  display: grid;
  place-items: center;

  .in-loading {
    height: 100px;
    width: 100px;
    // background-color: greenyellow;
    border: 5px solid  black;
    border-radius: 50%;
    border-top-color: var(--clr-white);
    animation: spinner 1s linear infinite;
  }

 
}

 .stopload{
    display: none;
 }

/*
=============== 
Navbar
===============
*/
/* add :not(.nav-logo) to img */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1a1b1d;
  box-shadow: var(--dark-shadow);
  z-index: 2;
}
.nav-icons {
  display: none;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: var(--transition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: #fac252;
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  color: #000;
  background: #fac252;
  padding-left: 2.25rem;
}
/* nav toggle functionality */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 280px;
}
/* nav at bigger screen size */
@media screen and (min-width: 992px) {
  /* hide nav toggle button */
  .nav-toggle {
    display: none;
  }
  /* show links */
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* optional */
    flex-wrap: wrap;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
  }
  .nav-link:hover {
    padding: 0;
    color: #fce4b6;
    background: transparent;
  }
  .nav-icons {
    display: flex;
  }
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-link {
    margin-right: 0.7rem;
  }
  .nav-icon {
    margin-right: 0.7rem;
    color: #fac252;
    font-size: 1.2rem;
    transition: var(--transition);
  }
  .nav-icon:hover {
    color: #f1a3079f;
  }
}
/*
=============== 
end Navbar
===============
*/

//animation

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

/*
=============== 
HomePage
===============
*/
.home {
  min-height: 100vh;
  width: 100%;
  background: url(../images/patterns/home\ bg.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  overflow: hidden;

  .home-title {
    display: grid;
    place-items: center;
    padding: 2rem;

    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 2.2rem;
      line-height: 1.2rem;
      color: #fff;
      font-weight: bold;
      text-align: left;

      span {
        font-weight: bold;
        color: #f5ac1f;
      }
    }
    .hmi {
      transform: translateX(10%);
      //   width: 120%;
      object-fit: cover;
    }
    .spii {
      display: none;
      object-fit: cover;
      animation: spinner 1s linear infinite;
    }

    h2:nth-child(1) {
      span {
        color: #ffffff;
      }
    }
  }
  .home-btn {
    display: grid;
    place-items: center;

    button {
      display: block;
      padding: 0.9rem 1.6rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      outline: none;
      border: none;
      margin-bottom: 1rem;
      font-family: "Poppins", sans-serif;
      background-color: transparent;
      color: white;
      border-radius: var(--radius);
      transition: var(--transition);
      box-shadow: var(--light-shadow);
      a {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        color: white;
      }
    }
    button:nth-child(1) {
      background-color: #f4ba1b;
    }
    button:nth-child(2) {
      background-color: #1fc2f5;
    }
    button:nth-child(3) {
      border: 2px solid #f4ba1b;
    }
    button:hover {
      box-shadow: var(--dark-shadow);
    }
  }
  .home-scroll {
    background-color: #0c1d08;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 4rem;
    place-items: center;

    .dno {
      display: none;
    }
  }
}

@media (min-width: 500px) {
  .home {
    // background: red;
    display: grid;
    place-items: center;

    .home-title {
      h2 {
        font-size: 3rem;
        line-height: 0.6;
      }
      .hmi {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
        z-index: 1;
        opacity: 0.05;
        transform: translate(0);
        display: none;
      }
      .spii {
        display: block;
        max-width: 20rem;
      }
    }
    .home-scroll {
      // background-color: transparent;
      overflow: hidden;
      width: 100%;
      padding: 0 2rem;
      grid-template-columns: repeat(5, 0.8fr);
      display: none;

      .dno {
        display: block;
      }

      img {
        // background-color: red;
        object-fit: cover;
      }
    }
    .home-btn {
      //   background-color: green;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;

      .scroll {
        display: none;
      }
    }
  }
}

@media (min-width: 700px) {
  .home {
    // background: yellowgreen;

    .home-title {
      h2 {
        font-size: 4rem;
        line-height: 0.7;
      }
      .hmi {
        opacity: 0.5;
        max-height: 25rem;
      }
    }
    .home-btn {
      //   background-color: green;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      max-width: 80%;
      margin: 0 auto;

      .scroll {
        display: none;
      }
    }
  }
}

.about {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  padding: 2rem;
  overflow: hidden;

  .abi {
    animation: spinner 1s linear infinite;
  }
  .abi:hover {
    animation-play-state: paused;
  }
}
.about-txt {
  h2 {
    font-family: "Poppins" sans-serif;
    color: #fff;
  }
  p {
    font-weight: lighter;
    color: rgba(240, 240, 240, 0.7);
  }
}

@media (min-width: 500px) {
  .about {
    // background: red;
    min-height: auto;

    .abi {
      display: none;
      max-width: 30rem;
    }
    .about-txt {
      max-width: 25rem;

      h2 {
        color: #f5ac1f;
      }
      p {
        color: gray;
      }
    }
  }
}

@media (min-width: 800px) {
  .about {
    // background: red;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .abi {
      display: block;
    }
    .about-txt {
      max-width: 25rem;
      justify-items: center;
    }
  }
}

.spin {
  min-height: 100vh;
  width: 100%;
  background: url(../images/patterns/home\ bg.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 2rem;
  overflow: hidden;

  .spin-head {
    // background-color: yellowgreen;

    h2 {
      font-family: "Poppins" sans-serif;
      text-transform: none;
      font-weight: bold;
      color: #fff;
    }
    p {
      max-width: 16rem;
      color: #ffffff;
    }
    button {
      padding: 0.9rem 1.6rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      font-family: "Poppins" sans-serif;
      font-weight: bold;
      outline: none;
      border: none;
      background-color: #a21bf4;
      box-shadow: var(--light-shadow);
      transition: var(--transition);
      border-radius: var(--radius);

      a {
        color: #fff;
      }
    }
  }

  .main-spin {
    // background-color: red;

    .main-spin-head {
      // background-color: greenyellow;

      h2 {
        font-family: "Poppins" sans-serif;
        font-weight: bold;
        color: var(--clr-white);
        text-align: center;

        span {
          color: #f5ac1f;
        }
      }
    }
    .spin-card {
      //   background-color: greenyellow;
      display: grid;
      place-items: center;
      button {
        border-radius: var(--radius);
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.5rem 1.2rem;
        font-size: 1.25rem;
        outline: none;
        border: none;
        box-shadow: var(--light-shadow);
        color: white;
        letter-spacing: 0.2rem;
        margin-top: 2rem;
      }

      .spinc {
        // background: red;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        border-radius: var(--radius);
        box-shadow: var(--light-shadow);
        transition: var(--transition);
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
      }

      .spin-img {
        display: grid;
        place-items: center;
        img {
          animation: spinner 1s linear infinite;
          animation-play-state: paused;
          width: 5rem;
          object-fit: cover;
        }
      }
      .spin-txt {
        color: #fff;
        padding-left: 1rem;
        margin-top: 1rem;
        text-align: center;

        p {
          color: #fff;
        }
      }
      @keyframes spinner {
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .spinc:hover {
      box-shadow: var(--dark-shadow);
      .spin-img {
        img {
          animation-play-state: running;
        }
      }
    }
  }
  .tax {
    button {
      background-color: #3bc117;
    }
    .spinc {
      border: 2px solid #3bc117;
      background: linear-gradient(rgb(57, 244, 27, 100%), rgb(0, 153, 34, 44%));
      box-shadow: var(--light-shadow);
    }
  }
  .lucky {
    button {
      background-color: #a11bf4;
    }
    .spinc {
      border: 2px solid #a11bf4;
      background: linear-gradient(
        rgb(162, 27, 244, 100%),
        rgb(53, 0, 86, 100%)
      );
      box-shadow: var(--light-shadow);
    }
  }

  .crazy {
    button {
      background-color: #1fc2f5;
    }
    .spinc {
      border: 2px solid #1fc2f5;
      background: linear-gradient(rgb(0, 220, 250, 100%), rgb(0, 58, 66, 100%));
      box-shadow: var(--light-shadow);
    }
  }
}

@media (min-width: 500px) {
  .spin {
    // background: red;

    .spin-head {
      // background-color: greenyellow;
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      padding: 2rem;

      .spintxt {
        p {
          max-width: 40rem;
        }
      }
    }
    .main-spin {
      //   background-color: yellowgreen;

      .main-spin-head {
        text-align: center;
      }
      .main-spin-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        grid-gap: 2rem;

        .spin-card {
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .spin {
    // background: red;

    .spin-head {
      // background-color: greenyellow;
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      padding: 2rem;

      .spintxt {
        p {
          max-width: 40rem;
        }
      }
    }
    .main-spin {
      //   background-color: yellowgreen;

      .main-spin-head {
        text-align: center;
      }
      .main-spin-bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        // background-color: green;
      }
    }
  }
}

.roadmap {
  min-height: 50vh;
  width: 100%;
  background: url(../images/patterns/home\ bg.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 2rem;
  overflow: hidden;

  .roadmap-title {
    h2 {
      font-family: "Poppins" sans-serif;
      color: var(--clr-white);
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  .roadmap-card {
    background-color: #000;
    border: 2px solid #f4ba1b;
    padding: 0.375rem 0.75rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    margin-bottom: 1rem;

    .btn {
      border-radius: 3rem;
      background-color: #f5ac1f;
      text-transform: capitalize;
    }

    .mainroad-d {
      // background-color: blue;
      padding-left: 1rem;
      color: #fff;
      margin-top: 1rem;

      ul {
        padding-left: 2rem;
        li::marker {
          content: "- ";
          padding-left: var(--spacing);
        }
        li {
          font-size: 1rem;
          text-transform: capitalize;
          color: rgba(156, 163, 175, 0.8);
        }
      }
    }
  }
  .roadmap-card:hover {
    box-shadow: var(--dark-shadow);
  }
}

@media (min-width: 700px) {
  .roadmap {
    // background: red;

    .roadmap-title {
      h2 {
        text-transform: uppercase;
        font-weight: bold;
        color: #f4ba1b;
        font-family: "Poppins" sans-serif;
        font-size: 4rem;
      }
    }
    .proadmap-card {
      //   background: blue;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 20% 40%;
      align-items: start;
      grid-gap: 2rem;
      justify-items: stretch;
      padding: 2rem;

      .roadmap-card {
        max-height: auto;

        .mainroad-d {
          h3 {
            // color: red;
            font-size: 1rem;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .roadmap {
    // background: red;

    .roadmap-title {
      h2 {
        font-size: 2.5rem;
      }
    }
    .proadmap-card {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 20% 40%;
      align-items: start;
      grid-gap: 2rem;
      justify-items: stretch;
      padding: 2rem;

      .roadmap-card {
        .mainroad-d {
          h3 {
            // color: red;
            font-size: 1rem;
            opacity: 0.8;
          }
          ul {
            li {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
/*
=============== 
Questions
===============
*/

.questions {
  overflow: hidden;
}
.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.title h2 {
  color: var(--clr-gold);
  font-family: "poppins" sans-serif;
  text-align: center;
  color: #fff;
}
.section-center {
  max-width: var(--fixed-width);
}
.question {
  background: #1a1b1d;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: rgba(255, 255, 255, 0.774);
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgba(252, 227, 182, 0.5);
  transition: var(--transition);
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
  color: gray;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

// @media (min-width: 500px) {
//   .questions {
//     background-color: red;
//   }
// }
